<!-- require_once "header.php"; -->
<link rel="stylesheet" href="/src/css/medecin.css">
<script src="/src/js/vmedecin.js" defer></script>

<!-- $i = 0;
if(isset($_POST["selectedWeek"]) && $_POST["selectedWeek"] != -1){
    $days = $weekArray[$_POST["selectedWeek"]]->getDays();
}
else $days = $currentWeek->getDays();
-->
<div class="corpse"> <!-- Content area-->
    <div id="topHeader">
        <p id="namePage" class="fs-5 d-none d-sm-inline title">Espace practicien</p>
    </div>
    <div id="container">
        <h3>Votre planning</h3>
        <hr>
        <div style="display: flex; flex-direction: row; gap: 1%;">
            <select id="selectWeek" class="form-select" aria-label="Default select example" style="width: 25%;" name="selectedWeek">
                <option selected value="-1">Choisir une semaine...</option>

            </select>
            <button type="button" id="loadWeek" class="btn btn-light">Charger</button>
        </div>
        <br>

        <div id="calendar">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col"><!--="Lundi". " ". $days[0]->format("d/m")--></th>
                </tr>
                </thead>
                <tbody class="table-group-divider table-divider-color" id="target1">
                </tbody>
            </table>

            <table class="table">
                <thead>
                <tr>
                    <th scope="col"><!--="Mardi". " ". $days[1]->format("d/m")--></th>
                </tr>
                </thead>
                <tbody class="table-group-divider table-divider-color" id="target2">
                </tbody>
            </table>

            <table class="table">
                <thead>
                <tr>
                    <th scope="col"><!--="Mercredi". " ". $days[1]->format("d/m")--></th>
                </tr>
                </thead>
                <tbody class="table-group-divider table-divider-color" id="target3">
                </tbody>
            </table>

            <table class="table">
                <thead>
                <tr>
                    <th scope="col"><!--="Jeudi". " ". $days[1]->format("d/m")--></th>
                </tr>
                </thead>
                <tbody class="table-group-divider table-divider-color" id="target4">
                </tbody>
            </table>

        <table class="table">
            <thead>
            <tr>
                <th scope="col"><!--="Vendredi". " ". $days[1]->format("d/m")--></th>
            </tr>
            </thead>
            <tbody class="table-group-divider table-divider-color" id="target5">
            </tbody>
        </table>

        <table class="table">
            <thead>
            <tr>
                <th scope="col"><!--="Samedi". " ". $days[1]->format("d/m")--></th>
            </tr>
            </thead>
            <tbody class="table-group-divider table-divider-color" id="target6">
            </tbody>
        </table>

        <table class="table">
            <thead>
            <tr>
                <th scope="col"><!--="Dimanche". " ". $days[1]->format("d/m")--></th>
            </tr>
            </thead>
            <tbody class="table-group-divider table-divider-color" id="target0">
            </tbody>
        </table>
    </div>

        <h3>Saisir vos disponibilités</h3>
        <hr>
        <br>
        <div id="meetingCreationZone">

            <div class="subcontainer">
                <div class="d-none">
                    <input type="text" value="<!--= $_POST["selectedWeek"] -->" name="persistWeek">
                </div>

                <div class="form-outline mb-4">
                    <input type="text" id="form2Example17" value="<!--= $d->format('D. d/m/Y')-->" class="form-control form-control-sm" name="date" readonly/>
                </div>

                <div class="form-outline mb-3">
                    <input type="time" id="timeStart"  name="timeStart" class="form-control form-control-sm" />

                </div>
                <div class="form-outline mb-4">
                    <input type="time" id="timeEnd"  name="timeEnd" class="form-control form-control-sm" />
                </div>
                <button type="submit" class="btn btn-outline-secondary btn-sm">Enregistrer</button>
            </div>

        </div>


</div>
</div>
</html>